<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="logout">
      <h2 class="goodbye-msg">Bill Murray says goodbye.</h2>
      <img src="http://www.fillmurray.com/g/155/300">
    </div>
  </body>
</html>