<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="secret">
      <img src="https://19818-presscdn-pagely.netdna-ssl.com/wp-content/uploads/d31/77/Screen_Shot_2014-03-17_at_17.23.41.png">
      <form action="/logout" method="post">
        <button>Log Out</button>
      </form>
    </div>
  </body>
</html>